user/src/main/resources/login.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.megatravel.com/user/soap"
	targetNamespace="http://www.megatravel.com/user/soap"
	elementFormDefault="qualified">
	<xs:element name="agentLoginRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="email" type="xs:string" />
				<xs:element name="password" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agentLoginResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="okay" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>